
@{
    ViewBag.Title = "AddRegister";
}

<h2>@Resources.Localization.registeradd_header</h2>

<div class="row">
    <form method="post" action="">
        <table class="element-table">            
            <tr>
                <th>@Resources.Localization.register_category</th>
                <td><input type="text" value="" name="Register_Category" /></td>
            </tr>
            <tr>
                <th>@Resources.Localization.register_type</th>
                <td><input type="text" value="" name="Register_Type" /></td>
            </tr>
            <tr>
                <th>@Resources.Localization.register_ballance</th>
                <td><input type="text" value="" name="Register_Balance" /></td>
            </tr>
            <tr>
                <th>@Resources.Localization.bill_name</th>
                <td><input type="text" value="" name="Register_Bill" /></td>
            </tr>
            <tr>
                <th>@Resources.Localization.date</th>
                <td><input type="text" value="" name="Register_Date" /></td>
            </tr>
            <tr>
                <th>@Resources.Localization.comment</th>
                <td><input type="text" value="" name="Comments" /></td>
            </tr>
        </table>
        <input type="submit" value="@Resources.Localization.save_action" />
        </form>
</div>

