@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="top">
        <input type="button" value="Додати запис" onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
    </div>

    <div class="row">
        @*<h3>Flash Finance v 1.0</h3>*@
        <table class="row">
            <td>Номер</td>
            <td>Назва</td>
            <td>Валюта</td>
            </tr>
            @foreach (var item in ViewBag.Bills)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.Bill_name</td>
                    <td>@item.Currency</td>
                </tr>
            }
        </table>
    </div>
    <br />

    <div class="row">
        <table class="table">
            <tr>
                <td>Номер</td>
                <td>Категорія</td>
                <td>Тип видатків\доходів</td>
                <td>Сума</td>
                <td>Рахунок</td>
                <td>Дата</td>
                <td>Коментар</td>
                <td></td>
            </tr>
            @foreach (var item in ViewBag.Registers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Register_Category</td>
                    <td>@item.Register_Type</td>
                    <td>@item.Register_Balance</td>
                    <td>@item.Register_Bill</td>
                    <td>@item.Register_Date</td>
                    <td>@item.Comments</td>
                    <td><p><a href="/Home/RegisterDelete/@item.Id">Видалити</a></p></td>
                </tr>
            }
        </table>
    </div>