@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

@Scripts.Render("~/Scripts/User/Register.js");

<div class="body-content">
    <div class="body-content-menu">
        <span>
            <input type="button" value=@Resources.Localization.add_action onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
           
             <input type="button" value="1111111" onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
            <input type="button" value="запис" onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
            <input type="button" value="Додати " onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
        </span>
    </div>

    <div class="row">
        <table class="flat-table">
            <tbody>
                <tr>
                    <th>@Resources.Localization.id</th>
                    <th>@Resources.Localization.bill_name</th>
                    <th>@Resources.Localization.bill_currency</th>
                </tr>
            </tr>
            @foreach (var item in ViewBag.Bills)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.Bill_name</td>
                    <td>@item.Currency</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <br />

 
    @using (Ajax.BeginForm("FilterRegister", "Register" , new AjaxOptions {}))
    {
    <div class="row">
        <span>
            @Resources.Localization.date_begin
            <input type="text" id="datepicker" name="begin">
            @Resources.Localization.end_date
            <input type="text" id="datepicker_end" name="end">           
            <input type="submit" value=@Resources.Localization.filter_action/>
            @*<input type="button" id="submit_filter" value=@Resources.Localization.filter_action />*@
        </span>
    </div>
    }   
    <div class="row_registers">
        <table class="flat-table">
            <tbody>
                <tr>
                    <th>@Resources.Localization.id</th>
                    <th>@Resources.Localization.register_category</th>
                    <th>@Resources.Localization.register_type</th>
                    <th>@Resources.Localization.register_ballance</th>
                    <th>@Resources.Localization.bill_name</th>
                    <th>@Resources.Localization.date</th>
                    <th>@Resources.Localization.comment</th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.Registers)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Register_Category</td>
                        <td>@item.Register_Type</td>
                        <td>@item.Register_Balance</td>
                        <td>@item.Register_Bill</td>
                        <td>@item.Register_Date</td>
                        <td>@item.Comments</td>
                        <td><p><a href="/Home/RegisterDelete/@item.Id">@Resources.Localization.delete_action</a></p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>