@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="body-content-menu">
        <span>
            <input type="button" value=@Resources.Localization.add_action onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
            <input type="button" value="1111111" onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
            <input type="button" value="запис" onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
            <input type="button" value="Додати " onclick="location.href='@Url.Action("AddRegister", "Home" )'" />
        </span>
    </div>

    <div class="row">
        <table class="flat-table">
            <tbody>
                <tr>
                    <th>@Resources.Localization.id</th>
                    <th>@Resources.Localization.bill_name</th>
                    <th>@Resources.Localization.bill_currency</th>
                </tr>
            </tr>
            @foreach (var item in ViewBag.Bills)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.Bill_name</td>
                    <td>@item.Currency</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <br />

    <div class="body-content">
        <table class="flat-table">
            <tbody>
                <tr>
                    <th>@Resources.Localization.id</th>
                    <th>@Resources.Localization.register_category</th>
                    <th>@Resources.Localization.register_type</th>
                    <th>@Resources.Localization.register_ballance</th>
                    <th>@Resources.Localization.bill_name</th>
                    <th>@Resources.Localization.date</th>
                    <th>@Resources.Localization.comment</th>
                    <th></th>
                </tr>
                @foreach (var item in ViewBag.Registers)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Register_Category</td>
                        <td>@item.Register_Type</td>
                        <td>@item.Register_Balance</td>
                        <td>@item.Register_Bill</td>
                        <td>@item.Register_Date</td>
                        <td>@item.Comments</td>
                        <td><p><a href="/Home/RegisterDelete/@item.Id">@Resources.Localization.delete_action</a></p></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>